dns_azure_sp_client_id = {{ azure_sp_client_id }}
dns_azure_sp_client_secret = {{ azure_sp_client_secret }}
dns_azure_tenant_id = {{ azure_tenant_id }}
dns_azure_subscription_id = {{ azure_subscription_id }}
dns_azure_zone1 = {{ azure_dns_zone }}:/subscriptions/{{ azure_subscription_id }}/resourceGroups/{{ azure_resource_group }}/providers/Microsoft.Network/dnsZones/{{ azure_dns_zone }}